@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,900&family=Roboto:wght@100;300;400;500&family=Unbounded&display=swap');

@font-face {
    font-family: princeton;
    src: url(Princeton.ttf);
}

.form-control{
   border-style: none;
   border-radius: 20px;
   

}

.user_option{
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    width: 300px;
    color: darkgrey;
}

.home-profile{
    margin-right: 10px;
    margin-left:5px ;
    padding: 10px;
}

.categories{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    position: relative;

}

.carousel-caption{
    position: absolute;
    margin-left: -100px;
    padding-top: 1.25rem;
    display: block;
    
}

.brand-hero{
    width: 450px;
    display: flex;
}

.carousel-caption h1{
    font-family: princeton;
    color: white;
    /* margin-top: 0; */
    text-transform: capitalize;
    font-size: 30px;
    display: flex;
    margin-top: -180px;
    font-weight: bold;
    display: flex;
    font-weight: -10px;
    margin-bottom: 20px;

}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(100, 193, 100);
    --bs-btn-border-color: none;
    width: 300px;
   display: flex;
   margin-left: 5rem;
    font-family: sans-serif;
    justify-content: center;
    margin-top: 5px;
}

.button{
    width: 100px;
    margin-right: -100px;
    display: flex;
}


.main-cat{
 margin-bottom: 10px;
}

.container-fluid{
    border-bottom: 1px solid #e4e5e7;
}
.lower-nav{
    border-bottom: 1px solid #e4e5e7;
}
.sub-categories a{
    text-decoration: none;
    color: black;
    gap: 20px;
  margin-left: 20px;
}

.sub-categories a:hover{
    color: cadetblue;
}





.hero-img{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}



.mid-website{
    padding: 50px;

    height: 450px;
  
  
}

.mid-website li{
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;
   
    
   
}

.mid-categories a {
    text-decoration: none;
    padding: 20px;

}



.categories-mid{
    display: flex;
    flex-direction: row;
    padding: 50px;
}


.categories-mid a{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: gray;
    
}

.what-do-we-got{
    height: 300px;
}

.what-do-we-got a{
    text-transform: capitalize;
    font-family: sans-serif;


}
.what-do-we-got ul{
    gap: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

   
}

.what-do-we-got h3{
    justify-content: center;
    text-align: center;
}

.mall-categories{
    padding: 50px;
}

.card {
    border-color: white;
   
}

.mall-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    gap:15px;
    margin-top: 10px;
    padding: 10px;
  
}

.mall-content-p{
    display: block;
    justify-content: center;
   
    text-justify: auto;
    color: gray;
}

.c-item{
    height: 650px;
}

.c-image{
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.findbuddy-content{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    padding: 10px;}


.findbuddy-p{
        display: block;
        justify-content: center;
        text-justify: auto;
        color: gray;
    }